@import "tailwindcss";

@theme {
    --color-primary: #FFFFFF;
    --color-secondary: #1961BA;
    --color-universal: #EFEFEF;
    --color-dark-red:#9E0000;


    --padding-componentPadding:60px;
    --paddind-mobilePadding:30px
    --color-dark-light-secondary: #7BB7FF;
    --color-sky-blue:#3b82f6;
    --color-hard-gray:#9CA3AF;
}